{% extends "base.html" %}
{% block title %}New Item{% endblock %}
  {% block main %}
  <div class="container">
    <header>
      <h3>To Do List : Add</h3>
    </header>
    <section>
      <form enctype="application/x-www-form-urlencoded" action="/add_item" method="POST">
        <div class="mb-3">
          <label for="item_title" class="form-label">Task Title</label>
          <input type="text" class="form-control" name="item_title" id="item_title" placeholder="Call Jensen">
        </div>
        <div class="mb-3">
          <label for="item_description" class="form-label">Task Description</label>
          <textarea class="form-control" name="item_description" id="item_description" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <a href="/" type="button" class="btn btn-secondary me-2">Cancel</a>
          <button type="submit" class="btn btn-secondary">Add Item</button>
        </div>
      </form>
    </section>
  </div>
  
  {% endblock %}